body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

header img {
    width: 60px;
    margin-top: 5px;
}

#titulo-principal {
    font-size: 16px;
    position: absolute;
    margin-top: 15px;

}

header * {
    
    display: inline-block;
    
}

#cabecalho {
    
    position: fixed; top: 0; width: 100%; height: 55px;
    border-bottom: 0px solid #606060; 
    box-shadow: 0px 0px 8px 0px #676565;
    background-color: white;

}


header nav {
    float: right;
    margin-top: 13px;
    margin-right: -50px;
}

header nav ul li {
    width: 170px;

}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
  
}

#banner {
    text-align: center;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

#banner p{
    padding-top: 400px;
    color: white;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

#banner h1{
    color: white;
    font-size: 35px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#banner button {
    border-radius: 200px;
    height: 50px;
    width: 180px;
    border: none;
    margin-top: 10px;
    

}

button:hover {

    background-color: rebeccapurple;
    color: white;
}


#produto {
    text-align: center;
}
.botao{
    height: 260px;
    width: 370px;
    display: inline-block;
    margin: 20px;
    background-size: cover;
}


.botoes {
    margin-top: 200px;
    position: relative;     
    font-size: 18px;
    border: 0px;
    padding: 10px 25px;
}


.footer {
    width: 100%;
    height: 70px;
    border: 0;
    background-color: #5f4a90;
    margin-top: 0px;
}

footer h4 {
    margin-top: 0px;
    text-align: center;
    font-size: 16px;
    color: white;
    padding-top: 25px;
    font-family: 'arial';
}


